@use "../../sass/variables" as *;

.header-menu {
  padding: 30px;
  background-color: $header-background;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    list-style-type: none;
    column-gap: 48px;
    flex-grow: 1;
    padding-left: 170px;
    font-size: 18px;
    line-height: 26px;
  }

  &__cart-shop {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
  }

  h1{
    font-size: 22px;
  }
}